@media screen and (max-width:1200px) {
    .navbar {
        position: relative;
    }

    .menu {
        display: none;
    }

    .logo {
        margin: 0;
        text-align: center;
    }

    .header {
        padding-top: 50px;
    }

    .headline {
        flex: 100%;
        margin: 5%;
        text-align: center;
    }

    .headline p {
        text-align: justify;
    }

    .img-headline {
        flex: 100%;
        margin: 5%;
        text-align: center;
    }

    .servicos {
        display: block;
        text-align: center;
    }

    .card {
        width: 100%;
        height: 35%;
    }

    .card h3 {
        border: none;
        margin: 0;
    }

    .card:hover {
        height: 33%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logotipo {
        width: 8%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 20px;
        padding-bottom: 5px;
    }

    .img-whats {
        display: none;
    }

    @media only screen and (max-width: 600px) {
        .servicos{
            
        }

        .logotipo {
            display: none;
        }

        .servicos h3,
        p {
            font-size: 80%;
        }
    }
}